*{margin:0;
padding: 0;
box-sizing: border-box;}
html{
    max-width: 1155px;
    margin:auto;
    font-family: abel;
}

.imagens{
    display:grid; 
    gap: 8px;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: center;
    justify-items: center
   
}
.cabecalho{
    padding: 1rem 0 0 2rem;
    background-image: url(./imagens/Imagem\ cabeçalho.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 325px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.esquerda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    margin-left: 100px;
}

.direita{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.cabecalho h1{
    font-family: asap;
    font-size: 3.66rem;
    margin-left: -3px;
}
.subtitulo{
    
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: -0.7rem;
    
}
.rodape{
    font-family: work sans;
    font-size: xx-small;
    flex-direction: column;
    justify-content: flex-end;
    align-self: flex-end;
    margin-bottom: 1rem;
}
.selecao{ 
    margin-bottom: 2rem;
    font-family: abel;
    font-weight: 900;
    font-size: 1.7rem;
}
.titulocategorias{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: abel;
    font-weight: 900;
    font-size: 1.7rem;
}
.categorias{
    display:grid; 
    gap: 8px;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: center;
    justify-items: center

}
.categorias a{
    text-decoration: none;
    color: black;
}
.categorias a:visited{
    color: black;
    }

.caixaverde{
    background-color:#CCFFBB;
    height: 6rem;
    width: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;

    font-size: x-large;
    padding: 0 4rem;
    text-align: center;
    

}
