*{margin:0;
padding: 0;
box-sizing: border-box;}
html{
    max-width: 1155px;
    margin:auto;

}

.imagens{
    display:grid; 
    gap: 8px;
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    justify-items: center
   
}
.cabecalho{
    padding: 1rem 0 0 2rem;
    background-image: url(./imagens/Imagem\ cabeçalho.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 325px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.esquerda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    margin-left: 100px;
}

.direita{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.cabecalho h1{
    font-family: asap;
    font-size: 3.66rem;
    margin-left: -3px;
}
.subtitulo{
    font-family: abel;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: -0.7rem;
    
}
.corpo{
    font-family: assistant;
}
.rodape{
    font-family: work sans;
    font-size: xx-small;
    flex-direction: column;
    justify-content: flex-end;
    align-self: flex-end;
    margin-bottom: 1rem;
}
