* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    max-width: 1155px;
    margin: auto;
    font-family: abel;
}

.imagens {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: center;
    justify-items: center;
    margin-bottom: 3rem;

}

.imagens>div>a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tempolimitado {
    margin-bottom: 2rem;
    font-family: abel;
    font-weight: 900;
    font-size: 1.7rem;
    margin-top: 2rem;
}
.destaques{
    margin: auto;
    display:flex ;
}
.destaque {
    width: 20rem;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 0 4rem;
    text-align: center;
    margin: auto;
    
}

a{
    text-decoration: none;
    color: black;

}
.imagemdestaque {
    display: block;
    height: 8rem;
}

.cabecalho {
    padding: 1rem 0 0 2rem;
    background-image: url(./imagens/Imagem\ cabeçalho.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 325px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.esquerda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    margin-left: 100px;
}

.direita {
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cabecalho h1 {
    font-family: asap;
    font-size: 3.66rem;
    margin-left: -3px;
}

.subtitulo {

    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: -0.7rem;

}

.rodape {
    font-family: work sans;
    font-size: xx-small;
    flex-direction: column;
    justify-content: flex-end;
    align-self: flex-end;
    margin-bottom: 1rem;
}

.selecao {
    margin-bottom: 2rem;
    font-family: abel;
    font-weight: 900;
    font-size: 1.7rem;
    margin-top: 2rem;
}

.titulocategorias {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: abel;
    font-weight: 900;
    font-size: 1.7rem;
}

.categorias {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: center;
    justify-items: center
}

a:visited {
    color: black;
}

.caixaverde {
    background-color: #CCFFBB;
    height: 6rem;
    width: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    font-size: x-large;
    padding: 0 4rem;
    text-align: center;
}

.titulotestesgratis {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: abel;
    font-weight: 900;
    font-size: 1.7rem;
}

.testes {
    padding: 5rem 1rem;
    height: 8rem;
    background-color: #9EDAED;
}

.rodapemobile {
    display: none;
}

.propaganda {
    display: flex;
    justify-content: center;
}

.rodapedosite {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.escritorodape {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;

}

@media (max-width:45rem) {
    .cabecalho {
        position: relative;
        padding: 2rem 0 0 1rem;
        background-image: url(./imagens/Imagem\ cabeçalho\ mobile.png);
        background-repeat: no-repeat;
        background-position: top;
        background-size: contain;
        height: 250px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0rem;
    }

    .esquerda {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        margin-left: 0px;
        margin-top: 0.2rem;
    }

    .direita {
        flex-wrap: nowrap;
        width: 37%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex-shrink: 0;
        padding-bottom: px;
        margin-bottom: 0px;

    }

    .rodape {
        position: absolute;
        bottom: 1rem;
        right: 0;
        width: 15rem;
        font-size: 0.5rem;
        text-align: left;
        padding-right: 0.5rem;
    }

    .cabecalho h1 {
        font-family: asap;
        font-size: 2.2rem;
        margin-left: -3px;
        line-height: 2.2rem;

    }

    .subtitulo {
        text-transform: uppercase;
        font-size: 0.8rem;
        margin-bottom: 0rem;
    }

    .categorias {
        grid-template-columns: repeat(auto-fit, 150px);
    }

    .caixaverde {
        font-size: medium;
        width: 9rem;
        height: 2rem;
        padding: 3rem 1rem;
        border-radius: 20px;
    }

    .titulotestesgratis {
        margin-left: 1rem;
    }

    .titulocategorias {
        padding-left: 1rem;
        margin-top: 1rem;
    }

    .selecao {
        padding-left: 1rem;
    }

    .imagens {
        grid-template-columns: repeat(auto-fit, minmax(120px, 150px));
    }

    .corpo {
        font-size: small;
        margin-top: 0.8rem;
    }

    .rodapemobile {
        text-align: right;
        display: block;
        font-size: small;
        margin-bottom: 2rem;
    }
}